
<header>
  <div class="header-content" id="home">
    <h1 class="animated fadeInDown">Hello I'm Javi. ;)</h1>
    <p class="animated fadeInUp">Aspiring Web Developer</p>
    <hr>
    <div class="social-links">

      <a href="https://github.com/javierrcc522" target="_blank" class="github-link"><i class="fa fa-github" aria-hidden="true"></i></a>

      <a href="https://www.freecodecamp.org/javierrcc522" target="_blank" class="fcc-link"><i class="fa fa-terminal" aria-hidden="true"></i></a>

      <a href="https://www.linkedin.com/in/javier-jiménez-70ba18149/" target="_blank" class="linkedin-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>

      <a href="mailto:javierrcc522@gmail.com" target="_blank"><i class="email-link fa fa-envelope-o" aria-hidden="true"></i></a>

    </div>
  </div>
</header>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
